<?xml version="1.0" ?>
<config>

    <modules>
        <Plumrocket_Faq>
            <version>0.0.1</version>
        </Plumrocket_Faq>
    </modules>
	
	<admin>
        <routers>
            <plumrocketfaq_admin>
                <use>admin</use>
                <args>
                    <module>Plumrocket_Faq</module>
                    <frontName>plumrocketfaq_admin</frontName>
                </args>
            </plumrocketfaq_admin>
        </routers>
    </admin>
	
	 <adminhtml>
        <acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<faq_section>
											<title>FAQ</title>
										</faq_section>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<menu>
            <plumrocketfaq module="plumrocketfaq">
                <title>Plumrocket</title>
                <sort_order>77</sort_order>
				
				<children>
						<action1  module="plumrocketfaq">
							<title>FAQ</title>
							<sort_order>5</sort_order>
								
							<children>
								<action2  module="plumrocketfaq">
									<title>Manage FAQ</title>
									<action>plumrocketfaq_admin/adminhtml_faq</action>
									<sort_order>10</sort_order>
								</action2>
							</children>	
							
						</action1>
				</children>
				
            </plumrocketfaq>
        </menu>
    </adminhtml>
	
	<frontend>
		<layout>
            <updates>
                <plumrocketfaq>
                    <file>plumrocket_faq.xml</file>
                </plumrocketfaq>
            </updates>
        </layout>
        <routers>
            <plumrocketfaq>
                <use>standard</use>
                <args>
                    <module>Plumrocket_Faq</module>
                    <frontName>faqs</frontName>
                </args>
            </plumrocketfaq>
        </routers>
    </frontend>
	
	<global>
	
		 <blocks>
            <plumrocketfaq>
                <class>Plumrocket_Faq_Block</class>
            </plumrocketfaq>
        </blocks>
		
		<helpers>
            <plumrocketfaq>
                <class>Plumrocket_Faq_Helper</class>
            </plumrocketfaq>
        </helpers>
		
		<models>
            <plumrocketfaq>
                <class>Plumrocket_Faq_Model</class>
                <resourceModel>plumrocketfaq_resource</resourceModel>
            </plumrocketfaq>
            <plumrocketfaq_resource>
				<class>Plumrocket_Faq_Model_Resource</class>
                <entities>
                    <table_faq>
                        <table>plumrocket_faq_entities</table>
                    </table_faq>
                </entities>
            </plumrocketfaq_resource>
        </models>
		
        <resources>
            <plumrocketfaq_setup>
                <setup>
                    <module>Plumrocket_Faq</module>
                </setup>
            </plumrocketfaq_setup>
        </resources>
		
    </global>
</config>