<?xml version="1.0" ?>
<config>
    <modules>
        <Plumrocket_Faq>
            <version>0.0.1</version>
        </Plumrocket_Faq>
    </modules>
	<frontend>
		<layout>
            <updates>
                <plumrocketfaq>
                    <file>plumrocket_faq.xml</file>
                </plumrocketfaq>
            </updates>
        </layout>
        <routers>
            <plumrocketfaq>
                <use>standard</use>
                <args>
                    <module>Plumrocket_Faq</module>
                    <frontName>faqs</frontName>
                </args>
            </plumrocketfaq>
        </routers>
    </frontend>
	<global>
		<models>
            <plumrocketfaq>
                <class>Plumrocket_Faq_Model</class>
                <resourceModel>plumrocketfaq_resource</resourceModel>
            </plumrocketfaq>
            <plumrocketfaq_resource>
				<class>Plumrocket_Faq_Model_Resource</class>
                <entities>
                    <table_faq>
                        <table>plumrocket_faq_entities</table>
                    </table_faq>
                </entities>
            </plumrocketfaq_resource>
        </models>
        <resources>
            <plumrocketfaq_setup>
                <setup>
                    <module>Plumrocket_Faq</module>
                </setup>
            </plumrocketfaq_setup>
        </resources>
    </global>
</config>